  .tshirt-page {
      margin: auto;
      min-height: 120vh;
      background: white;
      .image-container {
          display: flex;
          position: absolute;
          width: 50%;
          padding: 2rem;
          flex-direction: column;
          margin: auto;
          top: 20%;
      }
      .image-container img {
          width: 80%;
      }
      .tshirt-image {
          display: flex;
          align-items: center;
          width: 100%;
          height: auto;
      }
      /* Hide gallery images by default */
      .mySlides {
          width: 100%;
      }
      #shirt1,
      #shirt2,
      #shirt3 {
          position: relative;
          display: none;
      }
      .cursor {
          cursor: pointer;
      }
      .row {
          width: 92%;
          height: 50%;
          overflow: hidden;
      }
      .row:after {
          content: "";
          display: table;
          clear: both;
      }
      .column {
          float: right;
          width: 33%;
          height: 50%;
          padding: .5rem;
      }
      .active,
      .demo:hover {
          opacity: 1;
      }
      .tshirt-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 50%;
          float: right;
          position: relative;
          margin-top: 20%;
      }
      .tshirt-title {
          font-size: 2rem;
          padding: 1rem;
          font-weight: 700;
          border-bottom: 1px solid black;
      }
      .tshirt-description {
          font-size: 1.5rem;
          color: rgb(56, 56, 56);
          margin: 1rem 0;
          padding: 1rem;
      }
      .selector-container {
          padding: 2rem;
          width: 100%;
      }
      h4 {
          font-size: 1.5rem;
          padding: 0;
          margin: 0;
      }
      label[for="selectorOne"] {
          font-size: 2rem;
      }
      select {
          width: 40%;
          height: 100%;
          font-size: 1.5rem;
          text-align: center;
      }
      .radio-container {
          padding: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 70%;
      }
      .radio-label {
          display: flex;
          position: relative;
          font-size: 1.5rem;
      }
      .radio-title {
          font-size: 1.5rem;
          padding: 1rem;
      }
      .radio-overlap {
          padding: 1rem;
          margin: 1rem;
      }
      input[type="radio"] {
          padding: 1rem;
          transform: scale(3);
          position: absolute;
          visibility: hidden;
      }
      label[for="radio"] {
          font-size: 1.5rem;
          cursor: pointer;
          &:hover {
              border: 2px red solid;
              margin: .5rem;
              border-radius: 50%;
              padding: .5rem;
          }
      }
      input[type="radio"]:checked+label {
          border: 2px red solid;
      }
      .price-container {
          font-size: 2rem;
          padding: 1rem;
          margin: 1rem;
          border: 1px solid black;
      }
      .buttons {
          margin: 1rem;
          padding: 1rem;
      }
      #buttons {
          padding: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: auto;
      }
      #checkout-btn {
          background: orange;
          font-size: 2rem;
          padding: 1rem;
          outline: none;
          color: black;
          text-align: center;
          margin: 1rem;
          border: 2px white solid;
          &:hover {
              background-color: white;
              border: 2px black solid;
          }
      }
      #cart-btn {
          background: gray;
          font-size: 2rem;
          padding: 1rem;
          outline: none;
          text-align: center;
          color: black;
          margin: 1rem;
          border: 2px white solid;
          &:hover {
              background-color: white;
              border: 2px black solid;
          }
      }
      @media screen and (max-width:950px) {
          .image-container {
              width: 100%;
              display: block;
              position: relative;
          }
          .tshirt-info {
              position: relative;
              display: block;
              width: 100%;
              margin-top: 2%;
          }
      }
  }